@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
    height: 100%;
    overflow: hidden;
    margin: 0;

    --frame1: url("./assets/svg/frame1.svg");
    --frame2: url("./assets/svg/frame2.svg");
    --frame3: url("./assets/svg/frame3.svg");
}

footer {
    position: absolute;
    bottom: 20px;
    font-family: "Roboto Mono";

    font-size: 10pt;
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;
}

@media (min-width: 1025px) {
    footer {
        font-size: 14pt;
        right: 20px;
        transform: none;
    }
}

#poyo {
    content: var(--frame1);
    cursor: pointer;
    width: 50%;
    max-width: 90%;
    max-height: 55%;
    user-select: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#poyo.animation {
    animation: anim;
    animation-duration: 300ms;
}

@keyframes anim {
    0% {content: var(--frame1)}
    55% {content: var(--frame2)}
    100% {content: var(--frame3)}
}

#hidden {
    position: absolute;
    visibility: hidden;
}
#frame1 {
    content: var(--frame1);
}
#frame2 {
    content: var(--frame2);
}
#frame3 {
    content: var(--frame3);
}